numpy==1.26.4
scipy==1.13.1
pyrealsense2==2.54.2.5684
opencv-python==4.11.0.86
apriltag==0.0.16
ultralytics==8.3.146
scikit-learn==1.6.1
xgboost==2.0.3
pandas==2.2.2
matplotlib==3.8.4
joblib==1.4.2
pillow==10.3.0
requests==2.31.0
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
psutil==5.9.8
py-cpuinfo==9.0.0
PyYAML==6.0.1